html {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media(max-width: 767px) {
    html {
        font-size: 12px;
    }
}

html,
body {
    width: 100%;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    background-color: #181e21 !important;
}

#main {
    background: #181e21;
    color: #fdfdfd;
    min-height: fit-content;
}




h1 {
    margin: 0;
    text-align: center;
    font-size: 200px;
    overflow: hidden;
    line-height: 1;
}

h1 span,
h3 span {
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(18 70 123 / 72%)
}

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(18 70 123 / 72%)
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(18 70 123 / 72%)
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}






.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .2;
    background: #000000;
    z-index: 2;
}

.bg-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110vh;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
}

#bg-section01 {
    background-image: url('../images/tim.jpg');
}

#bg-section03 {
    background-image: url('../images/tim2.jpg');
}


.title {
    letter-spacing: 4px;
}

.z-depth-2 {
    position: relative;
    z-index: 2;
}

#section01 {
    position: relative;
    z-index: 2;
    padding: 45vh 0;
}

#section01 .content-inner {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

#section01 .inner-el {
    font-size: 4rem;
    position: relative;
    text-align: center;
    padding: 0 10px;
    max-width: 50px;
}

@media(max-width: 767px) {
    #section01 .inner-el {
        padding: 0 10px;
        font-size: 3rem;
    }
}


#section02 {
    /* background: #080126; */
    position: relative;
    z-index: 4;
    padding: 10vh 0;
}

#section03 {
    position: relative;
    z-index: 3;
    padding: 50vh 0 0;
    background: #080126;
    overflow: hidden;
}

#section04 {
    position: relative;
    background: #080126;
    z-index: 3;
    padding: 10vh 0;
}

@media(max-width: 767px) {

    #section02,
    #section04,
    #section06 {
        padding: 40px 0;
    }
}



.loader {
    color: #000;
    font-size: 20px;
    margin: 100px auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}


#loadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9;
}


footer {
    color: #FFF;
    padding: 50px 0px;
    font-size: 12px;
    text-align: center;
    background: #181e21;
    position: relative;
    z-index: 9;
}

div {
    /* border: red solid 2px; */
}

.fixme {
    background: green;
    color: white;
    text-align: center;
    width: 100%;
}


/* Apply necessary styles for the slider container and slides */
#sponsors-wraper {

    overflow: hidden;
    position: relative;
    background-color: black;
}

#sponsors-slider {
    animation: translateLoop 50s linear infinite;
    width: calc(100px * 30);
}

@keyframes translateLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 20));
    }
}

#sponsors-slider:hover {
    animation-play-state: paused;

}

.slide {
    /* padding: 20px; */
    margin: 0 20px;

}

#app {
    position: relative;
    min-height: 700px;
}

#field-container {
    perspective-origin: 50% -294px;
    perspective: 1146px;
    z-index: 1;
    top: 59px px;
    position: absolute;
}

#field {
    background-image: url('/images/grass2.png');
    width: 650px;
    position: relative;
    height: 850px;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(86deg);
    top: -180px;
    backface-visibility: hidden;
    border-radius: 260px;
    transform: rotateY(114deg) rotateX(88deg) rotateZ(109deg);
}

.field-texture {
    border: 3px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 50px;
}

#sides {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 260px;
    transform-style: preserve-3d;
}

#poles-away {
    margin: 0 auto;
    width: 16%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    border-top: none;
    border-bottom: none;
    height: 20%;
    transform: rotateY(90deg) rotateX(90deg) rotateZ(90deg);
    transform-origin: top;
    border: 0
}

#goal-away {
    margin: 0 auto;
    width: 16%;
    position: absolute;
    left: 0;
    right: 0;
    border-top: none;
    height: 10%;
}

#poles-home {
    margin: 0 auto;
    width: 16%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: none;
    border-bottom: none;
    height: 20%;
    transform: rotateY(270deg) rotateX(90deg) rotateZ(90deg);
    transform-origin: bottom;
    border: 0
}

#goal-home {
    margin: 0 auto;
    width: 16%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: none;
    height: 10%;
}


#goal-penalty-home {
    margin: 0 auto;
    width: 40%;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-bottom: none;
    height: 20%;
}

#goal-penalty-away {
    margin: 0 auto;
    width: 40%;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    border-top: none;
    height: 20%;
}

#arc-home {
    margin: 0 auto;
    width: 20%;
    bottom: 20%;
    position: absolute;
    left: 0;
    right: 0;
    /* border-radius: 50%; */
    width: 100px;
    height: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: none;
}

#arc-away {
    margin: 0 auto;
    width: 20%;
    top: 20%;
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top: none;
}

#center {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    top: 0;
    left: 0px;
    right: 0;
    /* margin: 0 auto; */
    position: absolute;
    bottom: 0;
    margin: auto;
}

#center-line {
    position: absolute;
    height: 0px;
    top: 50%;
    left: 0px;
    right: 0;
    border-bottom: 0;
}

#center {
    height: 20%;
    width: 20%;
    border-radius: 50%;
    top: 0;
    left: 0px;
    right: 0;
    /* margin: 0 auto; */
    position: absolute;
    bottom: 0;
    margin: auto;
}

#center-line {
    position: absolute;
    height: 0px;
    top: 50%;
    left: 0px;
    right: 0;
    border-bottom: 0;
}

:root {
    --face-count: 10;
    --face-deg: (360deg / var(--face-count));
    --face-width: var(--cylinder-width) / var(--face-count);
}

.holder {
    transform-style: preserve-3d;
    transform: rotateX(-35deg);
}

.cylinder-left,
.cylinder-right {
    position: absolute;
    height: 100px;
    width: 100px;
    transform-style: preserve-3d;
}

.cylinder-left {
    left: 91px;
}

.face {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.7;
    height: 161px;
    width: 1.5px;
    top: -9px;
    left: 0px;
    transform: rotateY(calc(var(--face-deg) * var(--index))) translateZ(2.9px);
}