<footer style="padding-bottom: 10px;">
    <div class="" style="padding: 0;">
        <div id="sponsors-wraper">
            <div id="sponsors-slider" class="d-flex flex-row justify-content-around">
                <img class="slide" src="./images/logo/bertovic_white.svg" width="100px" height="100px" alt="">
                <img class="slide" src="./images/logo/bokart.svg" width="100px" height="100px" alt=""
                    style="background-color: white;">
                <img class="slide" src="./images/logo/NK SESVETE grb.svg" width="100px" height="100px" alt="">
                <img class="slide" src="./images/logo/irsag.svg" width="100px" height="100px" alt="">
                <img class="slide" src="./images/logo/manana.svg" width="100px" height="100px" alt="">

                <img class="slide" src="./images/logo/bertovic_white.svg" width="100px" height="100px" alt="">
                <img class="slide" src="./images/logo/bokart.svg" width="100px" height="100px" alt=""
                    style="background-color: white;">
                <img class="slide" src="./images/logo/NK SESVETE grb.svg" width="100px" height="100px" alt="">
                <img class="slide" src="./images/logo/irsag.svg" width="100px" height="100px" alt="">
                <img class="slide" src="./images/logo/manana.svg" width="100px" height="100px" alt=""
                    style="background-color: white;">

            </div>
        </div>

        <div class="row mt-4" style="height: 100px;">
            <div class="col d-flex align-items-end justify-content-center p-0">
                <p>
                    <!--  licensed under CC BY 3.0. -->
                    Copyright &copy; <span id="year"></span>

                    All rights reserved | made by <a href="https://github.com/avulic" target="_blank">Ante
                        Vulić</a>
                </p>
            </div>

            <div class="col d-flex align-items-top justify-content-center">
                <img src="./images/logo.png" height="60" alt="" class="">
            </div>

            <div class="col d-flex align-items-end justify-content-center">
                <div class="d-flex flex-column">
                    <div class="">
                        <a href="https://www.facebook.com/sesvetedoubleblues"><img
                                src="https://api.iconify.design/bxl:facebook-square.svg?color=%23888888"></img></a>
                        <a href="https://www.instagram.com/sesvetedoubleblues/"><img
                                src="https://api.iconify.design/bxl:instagram.svg?color=%23888888"></img></a>
                        </ul>
                    </div>
                    <p>Australian rules football club based in Sesvete, Zagreb.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    document.getElementById('year').innerHTML = new Date().getFullYear();


    // const slides = document.querySelectorAll('#sponsors-slider img');
    // const slideWidth = slides[0].offsetWidth;

    // // Clone the slides to create a seamless loop
    // const sliderWrapper = document.querySelector('#sponsors-slider');
    // const clonedSlides = [...slides].map((slide) => slide.cloneNode(true));
    // clonedSlides.forEach((slide) => sliderWrapper.appendChild(slide));



</script>