<div id="navigation" class="container p-2">
    <div style=" background-color: rgb(10 9 10 / 96%);" class="row justify-content-center custom-rounded-div">
        <div class="col-lg-8">
            <div class="instagram-stories">
                <div onclick=""
                    style="display: flex; flex-direction: column; align-items: center; text-align: center; cursor: pointer;">
                    <div class="story-icon">
                        <a href="#index">
                            <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                        </a>
                    </div>
                    <span style="color: #f0f0f0;">Home</span>
                </div>
                <div onclick=""
                    style="z-index: 9; display: flex; flex-direction: column; align-items: center; text-align: center; cursor: pointer;">
                    <div class="story-icon">
                        <a href="#gallery">
                            <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                        </a>
                    </div>
                    <div>
                        <span style="color: #f0f0f0;">Games</span>
                    </div>
                </div>
                <div onclick=""
                    style="z-index: 9; display: flex; flex-direction: column; align-items: center; text-align: center; cursor: pointer;">
                    <div class="story-icon">
                        <a href="#shop">
                            <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                        </a>
                    </div>
                    <div>
                        <span style="color: #f0f0f0;">Shop</span>
                    </div>
                </div>
                <div onclick="toggleGallery()"
                    style="z-index: 9; display: flex; flex-direction: column; align-items: center; text-align: center; cursor: pointer;">
                    <div class="story-icon">
                        <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                    </div>
                    <div>
                        <span style="color: #f0f0f0;">Events</span>
                    </div>
                </div>
                <div onclick="toggleGallery()"
                    style="z-index: 9; display: flex; flex-direction: column; align-items: center; text-align: center; cursor: pointer;">
                    <div class="story-icon">
                        <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                    </div>
                    <div>
                        <span style="color: #f0f0f0;">About</span>
                    </div>
                </div>
                <div onclick="toggleGallery()"
                    style="z-index: 9; display: flex; flex-direction: column; align-items: center; text-align: center; cursor: pointer;">
                    <div class="story-icon">
                        <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                    </div>
                    <div>
                        <span style="color: #f0f0f0;">Players</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navigation-inside" class="container m-1  custom-rounded-div">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="instagram-stories">
                    <div class="story-icon" onclick="toggleGallery()" style="z-index: 9;">
                        <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                    </div>
                    <div class="story-icon" onclick="toggleGallery()" style="z-index: 9;">
                        <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                    </div>
                    <div class="story-icon" onclick="toggleGallery()" style="z-index: 9;">
                        <img src="./images/story_icon.png" alt="Story Icon" width="96" height="96">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>