<div id="shop" class="container">
    <div class="row justify-content-center">
        <div class="col col-lg-3 ">
            <div class="card d-flex justify-content-between p-2" style="background-image: url('../images/hoodie.png'); 
                        background-size: 70%; background-repeat: no-repeat; background-position: center; 
                        height: 350px;
                        background-position-x: center;
                        background-position-y: 40px;
                        width:100%;
                        margin-bottom: 20px;">


                <div class="badge">
                    <span>50% OFF</span>
                </div>

                <div class="mt-5 d-flex justify-content-between p-2">
                    <div class="mt-5 d-flex flex-column">
                        <span class="text2">Hoodie</span>
                        <div class="mt-1">
                            <span class="text1"> 20 &euro;</span>
                        </div>
                        <div class="">
                            <span class="material-symbols-outlined star-full">
                                grade
                            </span>
                            <span class="material-symbols-outlined star-full">
                                grade
                            </span>
                            <span class="material-symbols-outlined star-full">
                                grade
                            </span>
                            <span class="material-symbols-outlined star-full ">
                                grade
                            </span>
                            <span class="material-symbols-outlined star-empty">
                                grade
                            </span>
                        </div>
                    </div>
                    <div class="mt-1" style="align-self: end;">
                        <span class="material-symbols-rounded add">
                            add
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>